@import 'bootstrap/scss/bootstrap';
@import 'bootstrap/scss/variables';

$primary: #395664;

html {
  --navbar-bg: #{$primary};
  &[data-bs-theme='light'] {
    --modal-color: #{$dark};
    --btn-color: #{$primary};
    --btn-bg-hover: #{$gray-300};
    --btn-bg-active: #{$gray-400};
    --tooltip-bg: #{$gray-800};
    --tooltip-color: #{$light};
  }
  &[data-bs-theme='dark'] {
    --modal-color: #{$light};
    --btn-color: #{$gray-400};
    --btn-bg-hover: #{$gray-700};
    --btn-bg-active: #{$gray-600};
    --tooltip-bg: #{$gray-200};
    --tooltip-color: #{$dark};
  }
}

body {
  --bs-body-font-family: 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
}

.text-math {
  font-family: 'Arial', sans-serif;
}

table > thead > tr > th {
  font-weight: 400;
  background-color: #{$primary} !important;
  white-space: nowrap;
}

table > tbody > tr > td {
  white-space: nowrap;
}

.modal {
  --bs-modal-color: var(--modal-color);
}

.btn-close:focus {
  box-shadow: none;
}

.bg-primary-variant {
  background-color: #{$primary} !important;
}

.btn-variant {
  --bs-btn-padding-x: 0.25rem;
  --bs-btn-padding-y: 0.25rem;
  border: 0;
  color: var(--btn-color) !important;
  &:hover {
    background-color: var(--btn-bg-hover);
  }
  &:active {
    background-color: var(--btn-bg-active) !important;
  }
}

.btn-dark-variant {
  --bs-btn-padding-x: 0.25rem;
  --bs-btn-padding-y: 0.25rem;
  border: 0;
  color: var(--bs-light) !important;
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  &:active {
    background-color: rgba(255, 255, 255, 0.4) !important;
  }
}

.tooltip-variant {
  --bs-tooltip-bg: var(--tooltip-bg);
  --bs-tooltip-color: var(--tooltip-color);
  .tooltip-inner {
    text-align: left;
  }
}

label {
  margin: 0 4px;
}

.invalid-feedback {
  font-size: 0.75rem;
  margin: 4px 0 0 4px;
}
