@import 'bootstrap/scss/bootstrap';

$navbar-bg-light: $gray-800;
$navbar-bg-dark: $gray-800;

$btn-dark-bg-hover: $gray-700;
$btn-dark-bg-active: $gray-600;
$btn-light-bg-hover: $gray-300;
$btn-light-bg-active: $gray-400;

html {
  &[data-bs-theme='light'] {
    --navbar-bg: #{$navbar-bg-light};
    --btn-bg-hover: #{$btn-light-bg-hover};
    --btn-bg-active: #{$btn-light-bg-active};
    --btn-dark-bg-hover: #{$btn-dark-bg-hover};
    --btn-dark-bg-active: #{$btn-dark-bg-active};
    --btn-light-bg-hover: #{$btn-light-bg-hover};
    --btn-light-bg-active: #{$btn-light-bg-active};
    --tooltip-bg: #{$gray-800};
    --tooltip-color: #{$white};
  }
  &[data-bs-theme='dark'] {
    --navbar-bg: #{$navbar-bg-dark};
    --btn-bg-hover: #{$btn-dark-bg-hover};
    --btn-bg-active: #{$btn-dark-bg-active};
    --btn-dark-bg-hover: #{$btn-dark-bg-hover};
    --btn-dark-bg-active: #{$btn-dark-bg-active};
    --btn-light-bg-hover: #{$btn-light-bg-hover};
    --btn-light-bg-active: #{$btn-light-bg-active};
    --tooltip-bg: #{$gray-200};
    --tooltip-color: #{$black};
  }
}

body {
  --bs-body-font-family: 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
}

table > thead > tr > th {
  font-weight: 400;
}

.btn-variant {
  --bs-btn-padding-x: 0.25rem;
  --bs-btn-padding-y: 0.25rem;
  border: 0;
  &:hover {
    background-color: var(--btn-bg-hover);
  }
  &:active {
    background-color: var(--btn-bg-active) !important;
  }
}

.btn-dark-variant {
  --bs-btn-padding-x: 0.25rem;
  --bs-btn-padding-y: 0.25rem;
  border: 0;
  color: var(--bs-gray-400);
  &:hover {
    background-color: var(--btn-dark-bg-hover);
  }
  &:active {
    background-color: var(--btn-dark-bg-active) !important;
  }
}

.tooltip-variant {
  --bs-tooltip-bg: var(--tooltip-bg);
  --bs-tooltip-color: var(--tooltip-color);
  .tooltip-inner {
    text-align: left;
  }
}
